<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="ISO-8859-1">
    <title>My app</title>
</head>

<body>
<form th:method="POST" th:action="@{/new-match}">
    <label for="first_name">First player name: </label>
    <input type="text" th:field="*{name}" id="first_name" th:object="${player0}"/>
    <br/>
    <label for="second_name">Second player name: </label>
    <input type="text" th:field="*{name}" id="second_name" th:object="${player1}"/>
    <br/>
    <input type="submit" value="Play!"/>
</form>
<p th:text="${message}"></p>

</body>

</html>